.theme-dark:root {
    --primary-text-color: #cdd6f4;
    --secondary-text-color: #74c7ec;
    --white-color: #1e1e2e;
    --color-white: #1e1e2e;
    --lighter-gray-color: #181825;
    --color-lighter-gray: #181825;
    --light-gray-color: #313244;
    --color-light-gray: #313244;
    --color-light-color: #313244;
    --mid-gray-color: #585b70;
    --color-mid-gray: #585b70;
    --dark-gray-color: #bac2de;
    --color-dark-gray: #bac2de;
    --darker-gray-color: #cdd6f4;
    --color-darker-gray: #cdd6f4;
    --green-color: #a6e3a1;
    --orange-color: #fab387;
    --red-color: #f38ba8;
    --facebook-color: #89b4fa;
    --twitter-color: #89b4fa;
    --rss-color: #fab387;
}

.theme-dark .gh-head-logo img:first-child:not(:only-child) {
    opacity: 0;
}

.theme-dark .gh-head-logo img + img {
    opacity: 1;
}

.theme-dark .sticky {
    background-color: rgba(0, 0, 0, 0.6);
}

.theme-dark .form-button,
.theme-dark .pswp__counter {
    color: var(--darker-gray-color);
}

.theme-dark .share-link {
    background-color: var(--darker-gray-color);
}

.theme-dark .share-link-facebook {
    color: var(--facebook-color);
}

.theme-dark .share-link-twitter {
    color: var(--twitter-color);
}

.theme-dark .kg-audio-card button {
    color: var(--darker-gray-color);
}

@media (prefers-color-scheme: dark) {
    html:not(.theme-light):root {
        --primary-text-color: #cdd6f4;
        --secondary-text-color: #74c7ec;
        --white-color: #1e1e2e;
        --color-white: #1e1e2e;
        --lighter-gray-color: #181825;
        --light-gray-color: #313244;
        --mid-gray-color: #585b70;
        --dark-gray-color: #bac2de;
        --darker-gray-color: #cdd6f4;
        --color-darker-gray: #cdd6f4;
        --green-color: #a6e3a1;
        --orange-color: #fab387;
        --red-color: #f38ba8;
        --facebook-color: #89b4fa;
        --twitter-color: #89b4fa;
        --rss-color: #fab387;
    }

    html:not(.theme-light) .gh-head-logo img:first-child:not(:only-child) {
        opacity: 0;
    }

    html:not(.theme-light) .gh-head-logo img + img {
        opacity: 1;
    }

    html:not(.theme-light) .sticky {
        background-color: rgba(0, 0, 0, 0.6);
    }

    html:not(.theme-light) .form-button,
    html:not(.theme-light) .pswp__counter {
        color: var(--darker-gray-color);
    }

    html:not(.theme-light) .share-link {
        background-color: var(--darker-gray-color);
    }

    html:not(.theme-light) .share-link-facebook {
        color: var(--facebook-color);
    }

    html:not(.theme-light) .share-link-twitter {
        color: var(--twitter-color);
    }

    html:not(.theme-light) .kg-audio-card button {
        color: var(--darker-gray-color);
    }
}

